/*!
 ***********************************
 * ADMIN STYLE CSS
 ***********************************
 */
 
.admin-content {margin-top:80px;}

.admin-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

/*!
 ***********************************
 * Media Queries
 ***********************************
 */
@media (min-width: 768px) {}
    .admin-footer {
        text-align: left;
    }
}