{% extends "::base_admin.html.twig" %}
{% block datapage %}data-pageId="no_match"{% endblock %}
{% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block others_meta %}{% endblock others_meta %}
{% endblock meta %}
{% block title %}{% endblock title %}
{% block stylesheets %}
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  {% stylesheets filter='cssrewrite'
  output='bundles/gaoadmin/css/admin.css'

  'bundles/gaoadmin/plugin/AdminLTE-2.3.7/bootstrap/css/bootstrap.min.css'
  'bundles/gaoadmin/plugin/AdminLTE-2.3.7/plugins/datatables/dataTables.bootstrap.css'
  'bundles/gaoadmin/plugin/AdminLTE-2.3.7/dist/css/AdminLTE.min.css'
  'bundles/gaoadmin/plugin/AdminLTE-2.3.7/dist/css/skins/_all-skins.min.css'
  'bundles/gaoadmin/plugin/AdminLTE-2.3.7/plugins/datepicker/datepicker3.css'
  'bundles/gaoadmin/plugin/AdminLTE-2.3.7/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'
  
  'bundles/gaoadmin/css/style.css'%}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock stylesheets %}

{% block body_class %}hold-transition skin-blue sidebar-mini{% endblock %}

{% block noscript %}
  <p>This site using javascript, please enable it.</p>
{% endblock noscript %}

{% block contents %}
  <div class="wrapper">
    {% include "GaoAdminBundle:mod:header.html.twig" %}
    {% include "GaoAdminBundle:mod:sidebar.html.twig" with { active: [] } only %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {% block content_header %}{% endblock %}
        </h1>
        <ol class="breadcrumb">
          {% block content_breadcrumb %}{% endblock %}
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        {% block contents_main %}{% endblock contents_main %}
        {% block popup_bottom %}{% endblock popup_bottom %}
      </section>
    </div>
    {% include "GaoAdminBundle:mod:footer.html.twig" %}
  </div>
  
{% endblock contents %}

{% block footer %}
  
{% endblock footer %}

{% block javascripts %}

  {% javascripts output='bundles/gaoadmin/js/admin.js'

    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/jQuery/jquery-2.2.3.min.js'

    '@GaoAdminBundle/Resources/public/js/library/joo/joo.js'
    '@GaoAdminBundle/Resources/public/js/library/routing/routing.js'

    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/bootstrap/js/bootstrap.min.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/iCheck/icheck.min.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/datepicker/bootstrap-datepicker.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/datatables/jquery.dataTables.min.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/datatables/dataTables.bootstrap.min.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/slimScroll/jquery.slimscroll.min.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/plugins/fastclick/fastclick.js'
    '@GaoAdminBundle/Resources/public/plugin/AdminLTE-2.3.7/dist/js/app.min.js'

    '@GaoAdminBundle/Resources/public/js/app/no_match/mapping.js'
    '@GaoAdminBundle/Resources/public/js/app/common/widget/GlobalSetup.js'
    '@GaoAdminBundle/Resources/public/js/app/common/mapping.js'
    '@GaoAdminBundle/Resources/public/js/app/admin/widget/List.js'
    '@GaoAdminBundle/Resources/public/js/app/admin/mapping.js'

    '@GaoAdminBundle/Resources/public/js/app/routing.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>

  {% endjavascripts %}
    <script>
      //Some global things
    </script>
{% endblock javascripts %}

