<!DOCTYPE html>
<html {% block datapage %}{% endblock%}>
    <head>
        {% block meta %}{% endblock meta %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <noscript>
            {% block noscript %}{% endblock %}
        </noscript>
        {% block header %}{% endblock %}
        {% block contents %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
