{% extends 'GaoC5Bundle::layout_allwidth.html.twig' %}

{% block contents_main %}

    <div class="dashboardCont">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="mainCont" style="padding: 30px;">
		<div class="titlebar clearfix"><h1 class="title">Giới thiệu</h1></div><!-- //.titlebar -->
		<div class="contWrap clearfix">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<strong>Unordered lists</strong>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Pellentesque tempor ligula eu nunc elementum rhoncus.</li>
				<li>Praesent eleifend nisi ut dolor dapibus pulvinar.</li>
				<li>Sed ultricies dolor ut augue volutpat dictum.</li>
				<li>Pellentesque rutrum nunc placerat, ornare ante a, euismod lacus.</li>
			</ul>
			<strong>Ordered lists</strong>
			<ol>
				<li>Cras dignissim magna id lacus adipiscing vestibulum.</li>
				<li>Ut ac odio consequat, aliquam sapien eget, egestas ligula.</li>
				<li>Praesent sed quam sodales, tincidunt orci vel, euismod turpis.</li>
				<li>Suspendisse blandit diam vel pharetra faucibus.</li>
				<li>Aenean fermentum turpis feugiat nisi ullamcorper, sed pharetra sem fringilla.</li>
			</ol>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
			<p>Integer est metus, venenatis a vestibulum at, mollis et est. Integer id lectus ut lacus ornare bibendum. Integer hendrerit quam ut purus cursus bibendum. Sed commodo vitae neque nec pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc sodales venenatis tortor vitae malesuada. Proin varius massa rutrum, ultricies justo quis, egestas urna.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis eget eros et tincidunt. Morbi et elit nulla. Fusce sed dignissim turpis, ac congue orci. Mauris sed aliquam risus. Nam euismod ut magna facilisis auctor. Ut id tristique diam. Duis aliquam cursus urna in congue.</p>
		</div>
	</div>
</div>
</div>
</div>
</div>
{% endblock contents_main %}