{% extends 'GaoC5Bundle::layout.html.twig' %}

{% block contents_main %}
    <div class="clearfix boxHead">
        <h1 class="title"><i class="glyphicon glyphicon-screenshot"></i> Causeflix Account Profile</h1>
        <div class="desc">Use this page to manage settings for your account</div>
    </div>
    <div class="clearfix boxEnter">
        <form class="form" role="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-2">
                        <label for="">Text</label>
                        <input type="text" class="form-control" id="" placeholder="Text">
                    </div>
                    <div class="col-md-3 col-sm-2">
                        <label for="">Email</label>
                        <input type="email" class="form-control" id="" placeholder="Email">
                    </div>
                    <div class="col-md-3 col-sm-2">
                        <label for="">Number</label>
                        <input type="number" class="form-control" id="" placeholder="Number">
                    </div>
                    <div class="col-md-3 col-sm-2">
                        <label for="">Select</label>
                        <select class="form-control" id="">
                            <option>Select option</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-2">
                        <label for="">Tel</label>
                        <input type="tel" class="form-control" id="" placeholder="Tel">
                    </div>
                    <div class="col-md-4 col-sm-2">
                        <label for="">Time</label>
                        <input type="time" class="form-control" id="" placeholder="Time">
                    </div>
                    <div class="col-md-4 col-sm-2">
                        <label for="">Datetime-local</label>
                        <input type="datetime-local" class="form-control" id="" placeholder="Datetime-local">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Url</label>
                <input type="url" class="form-control" id="" placeholder="Url">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="">File</label>
                <input type="file" class="form-control" id="" placeholder="File">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea class="form-control" id="" cols="" rows="3" placeholder="Message"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check Me
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check Me
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <div class="radio">
                            <label>
                                <input type="radio"> Chose Me
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3">
                        <div class="radio">
                            <label>
                                <input type="radio"> Chose Me
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnWrap"><button type="submit" class="btn btn-orange">Submit</button></div>
        </form>
    </div>
    <div class="clearfix boxBody">
        <div class="clearfix tblWrap">
            <table class="tbl">
                <thead>
                    <tr>
                        <th scope="col">Title head</th>
                        <th scope="col">Title head</th>
                        <th scope="col">Title head</th>
                        <th scope="col">Title head</th>
                        <th scope="col">Title head</th>
                        <th scope="col">Title head</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Title foot</th>
                        <th scope="col">Title foot</th>
                        <th scope="col">Title foot</th>
                        <th scope="col">Title foot</th>
                        <th scope="col">Title foot</th>
                        <th scope="col">Title foot</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="clearfix tblWrap">
            <table class="tbl">
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
            </table>
        </div>
        <div class="clearfix tblWrap">
            <table class="tbl">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Title</th>
                    <th scope="col">Title</th>
                    <th scope="col">Title</th>
                    <th scope="col">Title</th>
                    <th scope="col">Title</th>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                </tr>
            </table>
        </div>
        <ul class="clearfix paging">
            <li class="pFirst"><a href="#none">&laquo;</a></li>
            <li class="pPrev"><a href="#none">&lsaquo;</a></li>
            <li><a href="#none">1</a></li>
            <li><strong>2</strong></li>
            <li><a href="#none">3</a></li>
            <li><a href="#none">4</a></li>
            <li><a href="#none">5</a></li>
            <li><a href="#none">6</a></li>
            <li><a href="#none">7</a></li>
            <li><a href="#none">8</a></li>
            <li><span>...</span></li>
            <li><a href="#none">99</a></li>
            <li class="pNext"><a href="#none">&rsaquo;</a></li>
            <li class="pLast"><a href="#none">&raquo;</a></li>
        </ul>
        <div class="optNav">
            <div class="optHead"><h2>Payment Gateways</h2></div>
            <div class="optBody">
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> PayPal</h3></div>
                    <div class="itemBody">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Text</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="" placeholder="Text">
                                </div>
                                <div class="col-sm-3">
                                    <div class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="clearfix">
                                    <label for="" class="col-sm-2 control-label">Select</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id=""><option>Select option</option></select>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="help-block">Lorem ipsum consectetur adipiscing elit</div>
                                    </div>
                                </div>
                                <div class="help-block">Sed eu ipsum vel arcu lacinia varius. Sed non erat diam. Donec accumsan porta viverra.</div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" cols="" rows="3" placeholder="Message"></textarea>
                                    <div class="help-block">Sed eu ipsum vel arcu lacinia varius. Sed non erat diam.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Radio</label>
                                <div class="col-sm-2">
                                    <div class="radio">
                                        <label>
                                            <input type="radio"> Chose me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="radio">
                                        <label>
                                            <input type="radio"> Chose me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="radio">
                                        <label>
                                            <input type="radio"> Chose me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio"> Chose me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Checkbox</label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="clearfix">
                                    <label for="" class="col-sm-2 control-label">Checkbox</label>
                                    <div class="col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="help-block">Sed eu ipsum vel arcu lacinia varius. Sed non erat diam. Donec accumsan porta viverra.</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> PayFlow Pro</h3></div>
                    <div class="itemBody">
                        <form class="form" role="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2">
                                        <label for="">Text</label>
                                        <input type="text" class="form-control" id="" placeholder="Text">
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                        <label for="">Email</label>
                                        <input type="email" class="form-control" id="" placeholder="Email">
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                        <label for="">Number</label>
                                        <input type="number" class="form-control" id="" placeholder="Number">
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                        <label for="">Select</label>
                                        <select class="form-control" id="">
                                            <option>Select option</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-sm-2">
                                        <label for="">Tel</label>
                                        <input type="tel" class="form-control" id="" placeholder="Tel">
                                    </div>
                                    <div class="col-md-4 col-sm-2">
                                        <label for="">Time</label>
                                        <input type="time" class="form-control" id="" placeholder="Time">
                                    </div>
                                    <div class="col-md-4 col-sm-2">
                                        <label for="">Datetime-local</label>
                                        <input type="datetime-local" class="form-control" id="" placeholder="Datetime-local">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Url</label>
                                <input type="url" class="form-control" id="" placeholder="Url">
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control" id="" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="">Message</label>
                                <textarea class="form-control" id="" cols="" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check Me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check Me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio"> Chose Me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio"> Chose Me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> 2Checkout</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> Amazon Payments</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> TrialPay Payments Gateway</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> Authorize.net</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
            </div>
        </div><!-- //.optNav -->
        <div class="optNav">
            <div class="optHead"><h2>Other Options</h2></div>
            <div class="optBody">
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> Other Option 1</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> Other Option 2</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> Other Option 3</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
                <div class="clearfix optItem">
                    <div class="itemHead"><h3><i class="glyphicon glyphicon-plus-sign"></i> Other Option 4</h3></div>
                    <div class="itemBody">
                        content<br />content<br />content<br />content<br />content<br />content<br />content<br />
                    </div>
                </div>
            </div>
        </div><!-- //.optNav -->
        <div class="btnWrap"><button type="submit" class="btn btn-orange">Submit Infomation</button> <button type="button" class="btn btn-default">Cancel</button></div>
    </div>

{% endblock contents_main %}