{% extends 'GaoC5Bundle::layout.html.twig' %}
{% set menu_selected = 'index' %}
{% block contents_main %}
    <div class="clearfix boxHead">
        <h1 class="title"><i class="glyphicon glyphicon-screenshot"></i> Causeflix Account Profile</h1>
        <div class="desc">Use this page to manage settings for your account</div>
    </div>

    <div class="clearfix boxBody">
        <p>Chao mung <strong>{{ app.security.getToken().getUser().getUsername() }}</strong> den voi he thong.</p>
        <p>Dang nhap gan day nhat <strong>{{ app.security.getToken().getUser().lastLogin()|date('d/m/Y H:i:s') }}</strong> </p>
    </div>

{% endblock contents_main %}