{% extends 'GaoAdminBundle::layout.html.twig' %}

{% block datapage %}data-pageId="admin_default"{% endblock %}

{% block content_sidebar %}
  {% include "GaoAdminBundle:mod:sidebar.html.twig" with { 'menus': ['bank-log'] } only %}
{% endblock content_sidebar %}

{% block content_header %}
  Bank Account Page
  <small>all logs</small>
{% endblock content_header %}

{% block contents_main %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Logging Data Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="prg-adminTable" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Vcb Account</th>
                <th>PD count</th>
                <th>GD count</th>
                <th>PD total</th>
                <th>GD total</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock contents_main %}
